<div class="select-container">

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Entrada</mat-label>
    <mat-select (selectionChange)="numeroSeleccionado($event)">
      <mat-option value="" disabled>Elige la Entrada</mat-option>
      <mat-option 
        *ngFor="let item of entrada" 
        [value]="item.id + '-' + 0" 
        [disabled]="idsComidasAsociadas.includes(item.id)">
        {{ item.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Plato Principal</mat-label>
    <mat-select (selectionChange)="numeroSeleccionado($event)">
      <mat-option value="" disabled>Elige el Plato Principal</mat-option>
      <mat-option 
        *ngFor="let item of platoPrincipal" 
        [value]="item.id + '-' + 1" 
        [disabled]="idsComidasAsociadas.includes(item.id)">
        {{ item.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Postre</mat-label>
    <mat-select (selectionChange)="numeroSeleccionado($event)">
      <mat-option value="" disabled>Elige el Postre</mat-option>
      <mat-option 
        *ngFor="let item of postre" 
        [value]="item.id + '-' + 2" 
        [disabled]="idsComidasAsociadas.includes(item.id)">
        {{ item.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Bebida</mat-label>
    <mat-select (selectionChange)="numeroSeleccionado($event)">
      <mat-option value="" disabled>Elige la Bebida</mat-option>
      <mat-option 
        *ngFor="let item of bebida" 
        [value]="item.id + '-' + 3" 
        [disabled]="idsComidasAsociadas.includes(item.id)">
        {{ item.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

