

.ng-invalid:not(form).ng-touched{
    border-left: 3px solid red;
  }
  
  .ng-valid:not(form).ng-touched{
      border-left: 3px solid green;
    }

.form-group {
    margin: 10px
}

button {
    margin: 10px;
}

h2 {
    text-align: center;
    margin: 10px;
}

.text-error {
    margin: 10px;
}

