/* You can add global styles to this file, and also import other style files */


.ng-invalid:not(form).ng-touched{
  border-left: 3px solid red;
}

.ng-valid:not(form).ng-touched{
    border-left: 3px solid green;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
