<div class="default-container">

  <h2>{{ isModeEdit ? 'Editar Menú' : 'Crear Nuevo Menú' }}</h2>
  
  <form [formGroup]="menuForm">
    <!-- Input para Nombre del Menú -->
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Nombre del Menú</mat-label>
      <input matInput placeholder="Nombre del Menú" formControlName="nombre" id="nombre-input">
      <mat-error *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <span *ngIf="nombre.hasError('required')">Nombre Requerido.</span>
        <span *ngIf="nombre.hasError('pattern')">No se permite números ni caracteres especiales.</span>
      </mat-error>
    </mat-form-field>

    <!-- Input para Precio del Menú -->
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Precio del Menú</mat-label>
      <input matInput type="number" placeholder="Precio del Menú" formControlName="precio" id="precio-input">
      <mat-error *ngIf="precio.invalid && (precio.dirty || precio.touched)">
        <span *ngIf="precio.hasError('required')">Precio Requerido.</span>
      </mat-error>
    </mat-form-field>


    <mat-label>Seleccione el tipo de Menú:</mat-label>
    <mat-radio-group formControlName="tipoMenu" aria-label="Seleccione el tipo de Menú" class="example-radio-group">
      <mat-radio-button value="Vegetariano">Vegetariano</mat-radio-button>
      <mat-radio-button value="No Vegetariano">No Vegetariano</mat-radio-button>
    </mat-radio-group>


    <h5> Selecciona las comidas del menu: </h5>

    <app-menu-item [idMenu]="idMenu" (idsComidasSeleccionas)="numeroSeleccionado($event)" />

    <p class="text-danger text-error">{{ menuError }}</p>

    <button type="submit" class="btn btn-primary" id="input-submit" (click)="sendMenu()">{{ isModeEdit ? 'Guardar' :
      'Registrar' }} </button>

  </form>


</div>