<div class="default-container">
    
    <h2>{{ isModeEdit ? 'Editar Comida' : 'Registrar Comida' }}</h2>

    <form [formGroup]="comidaForm">
        <div class="form-group">
          <label for="exampleFormControlInput1">Ingrese Nombre de la Comida</label>
          <input type="text" class="form-control" id="inputs-text" formControlName="nombre">
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger">
            <div *ngIf="nombre.hasError('required')"> Nombre Requerido. </div>
            <div *ngIf="nombre.hasError('pattern')"> No se permite Numeros ni caracteres Especiales. </div>
          </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Ingrese Precio de la Comida</label>
            <input type="number" class="form-control" id="inputs-text" formControlName="precio">
            <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="text-danger">
                <div *ngIf="precio.hasError('required')"> Precio Requerido. </div>
              </div>
        </div>

        <h5> Seleccione el tipo de Comida: </h5>
        <select class="form-select" formControlName="tipo" aria-label="Seleccione el tipo de comida">
          <option value="" disabled selected>Elija tipo</option>
          <option value="ENTRADA">Entrada</option>
          <option value="PLATO_PRINCIPAL">Plato Principal</option>
          <option value="POSTRE">Postre</option>
          <option value="BEBIDA">Bebida</option>
          <option value="OTRO">Otro</option>
        </select>
        <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="text-danger">
          <div *ngIf="tipo.hasError('required')"> Tipo de comida requerido. </div>
        </div>

       
          <p class="text-danger text-error">{{ comidaError }}</p>

          <button type="submit" class="btn btn-primary" id="input-submit" (click)="registrarNuevaComida()"> Registrar Comida </button>
          
      </form>


</div>