<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="displaySidebar" class="sidebar">
            <ul class="sidebar-links">
               

                
                <h4>
                    <div class="menu-separator"></div>
                    <span>Cuenta</span>
                </h4>
                <li>
                    <button routerLink=""><span class="material-symbols-outlined"> account_circle </span>Profile</button>
                </li>
                <li>
                    <button routerLink=""><span class="material-symbols-outlined"> logout </span>Cerrar Sesión</button>
                </li>
                </ul>
                  
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
  
