<div class="register-container">
    <h2>Registro de Usuario</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" maxlength="16" />
        <mat-error *ngIf="registerForm.get('nombre')?.invalid">{{ getErrorMessage('nombre') }}</mat-error>
      </mat-form-field>
  
      <!-- Apellido -->
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" maxlength="16" />
        <mat-error *ngIf="registerForm.get('apellido')?.invalid">{{ getErrorMessage('apellido') }}</mat-error>
      </mat-form-field>
  
      <!-- DNI -->
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" type="text" placeholder="DNI sin puntos" minlength="8" maxlength="8"/>
        <mat-error *ngIf="registerForm.get('dni')?.invalid">{{ getErrorMessage('dni') }}</mat-error>
      </mat-form-field>
  
      <!-- Email -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input 
            matInput 
            formControlName="email" 
            type="email"
            placeholder="pat@example.com"
             />
        <mat-error *ngIf="registerForm.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>
  
      <!-- Clave -->
      <mat-form-field appearance="fill">
        <mat-label>Clave</mat-label>
        <input 
        matInput [type]="hide() ? 'password' : 'text'"
        formControlName="clave"
        minlength="6"
        maxlength="8" />
        <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="registerForm.get('clave')?.invalid">
            {{ getErrorMessage('clave') }}
        </mat-error>
      </mat-form-field>
  
      <!-- Imagen de Perfil -->
      <div style="margin-bottom:20px">
        <p>Imagen de Perfil (opcional)</p>
        <button mat-raised-button color="accent" (click)="fileInput.click()" type="button">Subir Imagen</button>
        <input #fileInput id="profileImage" type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
        <span *ngIf="selectedFile" style="margin-left: 10px">{{ selectedFile.name }}</span>
      </div>
      
  
      <!-- Botón de registro con el spinner a la derecha -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid || isSubmitting">
          Registrarse
        </button>
        <mat-spinner *ngIf="isSubmitting" diameter="30" color="primary" class="spinner"></mat-spinner>
      </div>
    </form>
  </div>
  